@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");
  .nav-bar .active {
    background-color: rgb(59 130 246);
    color: white;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: #232323;
  }
}
.reHidden .isHidden {
  display: none;
}
.reHidden .itemShowCenter {
  display: flex;
  justify-content: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.reHidden .addPost {
  padding: 5px 0;
}
.nav-bar .activeAdd.active {
  background-color: rgb(233 213 255);
}
.navDash .active {
  background-color: rgb(59 130 246);
  color: white;
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.tableCategory {
  overflow-x: auto;
  background-color: white;
  border-radius: 10px;
}
.tableCategory table {
  width: 100%;
}
.tableCategory thead {
  background-color: #f7f7f8;
}
.tableCategory th,
.tableCategory td {
  vertical-align: middle;
  white-space: nowrap;
}
.tableCategory th {
  padding: 20px 30px;
  font-weight: 600;
  text-align: left;
}
.tableCategory td {
  padding: 15px 30px;
}

.entry-content {
  font-size: 16px;
}
.entry-content h2,
.entry-content h3,
.entry-content h4 {
  font-weight: bold;
  margin-bottom: 20px;
}
.entry-content h2 {
  font-size: 32px;
}
.entry-content h3 {
  font-size: 26px;
}
.entry-content h4 {
  font-size: 22px;
}
.entry-content p {
  margin-bottom: 20px;
  line-height: 2;
}
.entry-content figure {
  margin-bottom: 20px;
}
.entry-content figure img {
  border-radius: 20px;
  margin-bottom: 10px;
}
.entry-content figcaption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #6b6b6b;
}
@media screen and (max-width: 1023.98px) {
  .entry-content {
    font-size: 14px;
  }
  .entry-content h2 {
    font-size: 26px;
  }
  .entry-content h3 {
    font-size: 24px;
  }
  .entry-content h4 {
    font-size: 20px;
  }
}
