@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar .active {
  background-color: rgb(59 130 246);
  color: white;
}
.reHidden .isHidden {
  display: none;
}
.reHidden .itemShowCenter {
  display: flex;
  justify-content: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.reHidden .addPost {
  padding: 5px 0;
}
.nav-bar .activeAdd.active {
  background-color: rgb(233 213 255);
}
.navDash .active {
  background-color: rgb(59 130 246);
  color: white;
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
