@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar .active {
  background-color: rgb(59 130 246);
  color: white;
}
.reHidden .isHidden {
  display: none;
}
.reHidden .itemShowCenter {
  display: flex;
  justify-content: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.25);
}
